* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 225, 225);
}

header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, lightblue, white);
    height: 50px;
}

h1 {
    display: flex;
    margin-left: 35px;
    align-items: center;
    font-size: 40px;
    letter-spacing: 3px;
}

nav {
    display: flex;
    align-items: center;
    color: black;
}

header ul {
    list-style-type: none;
    margin-right: 0px;
}

header ul li {
    display: inline-block;
    margin: 0 35px;
    align-content: center;
}

h2 {
    width: 1180px;
}

article {
    display: flex;
    margin: 0 50px;
    margin-top: 5px;
    height: 500px;
}

.info-header {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: black;
    margin-top: 50px;
    font-size: 30px;
    letter-spacing: 3px;
}

#image-container {
    display: flex;
    justify-self: flex-end;
    height: 100%;
    width: auto;
    margin-left: 5px;
    margin-top: -5rem;
}

section {
    margin-right: 50px;
    margin-left: 50px;
}

.mainborder {
    border:  2px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    background-image: linear-gradient(to bottom right, lightblue, white);
    margin-left: 0;
}

main {
   margin: 25px 50px;
   display: flex;
   flex-wrap: wrap;
}

.linkbox {
    display: flex;
    height: 400px;
    width: 200px;
    margin: 20px;
    flex: 3 0 400px;
}

.fit {
    height: 100%;
    width: 100%;
}

footer {
    height: 50px;
    background-image: linear-gradient(to bottom right, lightblue, white);
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer {
    display: flex;
    align-items: center;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    margin: 0 35px;
}
