* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 93%);
}

/* Universal Styling For Main Border */
.mainBorder {
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 5px black;
}

/* Universtal Styling To Flex and Center Content in a Div */
.order {
    display: flex;
    justify-content: center;
}

/* Styling Nav Bar */
.navbar {
    padding: 0px 30px;
    background-color: ghostwhite;
    color: black;
    border-bottom: 3px solid black;
    min-height: 60px;
    height: fit-content;
    align-items: end;
}

/* Styling Header Inside Navbar */
h1 {
    margin: 0px
}

/* Styling List inside Navbar */
.liMargin {
    color: black;
    margin: 0px 20px;
    font-size: 16px;
}

/* Styling About Me and Portfolio Headers */
.header1 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-bottom: 2px solid black;
    padding: 0px 10px;
}

/* Styling About Me Div */
.aboutMe {
    margin: 20px;
}

/* Styling About Me Content */
.meContent {
    background-color: ghostwhite;
    color: black;
    height: fit-content;
    padding: 10px;
    text-align: justify;
    font-size: 16px
}

/* Image Fix */
.img1 {
    height: 15%;
    width: 15%;
    float: right;
    margin-left: 20px
}

/* Styling Headers showcasing Portfolio */
.header2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 0px 10px;
}

.headerBox {
    padding: 5px;
    border: 1px solid black;
    background-color: ghostwhite;
    border-radius: 5px;
    box-shadow: 10px 10px 5px black;
    width: fit-content;
}

/* Formatting the Section Element Holding Individual Projects Link */
.formatSection {
    height: 250px;
    width: 100%;
    position: relative;
}

/* Formatting the Header Element For Project Section */
.formatHeader {
    position: relative;
    background-color: gray;
    color: black;
    font-size: 22px;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border: 2px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
    top: -100px;
    right: 2px;
}

/* Formatting the Image Element For Project Section */
.formatImage {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 10px;
}

/* Formatting the Text Element For Project Section */
.formatHidden {
    position: relative;
    background-color: gray;
    color: black;
    font-size: 16px;
    border: 4px solid black;
    border-radius: 5px;
    height: fit-content;
    width: 200px;
    padding: 3px;
    top: -320px;
    left: 0px;
    z-index: 1;
    display: none;
}

/* Styling Footer */
.footer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #f5f5f5;
    z-index: 900;
}

.fliMargin{
    color: black;
    margin: 0px 20px;
    font-size: 12px;
}

/* Make the Full stack applications taller on larger screens */
.bigger {
    height: 500px;
}

@media only screen and (max-width: 720px) {
    .img1 {
        height: 40%;
        width: 40%
    }
}

@media only screen and (max-width: 1300px) {
    .bigger {
        height: 300px
    }
}

/* Making the website more dynamic with a hover feature */
.formatImage:hover {
    background-color: rgb(231, 225, 225);;
    opacity: .5;
}

/* Display About Info when Hovering over a Project */
section:hover #box1 {
    display: block;
}