* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 225, 225);
}

header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, lightblue, white);
    height: 50px;
    border-bottom: 2px solid white;
}

h1 {
    display: flex;
    margin-left: 35px;
    align-items: center;
    font-size: 40px;
    letter-spacing: 3px;
}

nav {
    display: flex;
    align-items: center;
    color: black;
}

a {
    color: blue;
}

header ul {
    list-style-type: none;
    margin-right: 0px;
}

header ul li {
    display: inline-block;
    margin: 0 35px;
    align-content: center;
}



article {
    display: flex;
    margin: 0 50px;
    margin-top: 5px;
    height: 500px;
}

.info-header {
    display: flex;
    justify-content: space-between;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: black;
    margin-top: 35px;
    font-size: 30px;
    letter-spacing: 3px;
}

#image-container {
    display: flex;
    justify-self: flex-end;
    height: 100%;
    width: auto;
    margin-left: 5px;
    margin-top: 20px;
}

#margin {
    margin-top: 20px;
}

section {
    margin-right: 50px;
    margin-left: 50px;
}

.mainborder {
    border:  2px solid white;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    background-image: linear-gradient(to bottom right, lightblue, white);
    margin-left: 0;
    margin-top: 20px;
}

main {
   margin: 25px 50px;
   display: flex;
   flex-wrap: wrap;
}

.linkbox {
    display: flex;
    height: 400px;
    margin: 20px;
    flex: 3 0 400px;
    background-image: linear-gradient(to bottom right, lightblue, white);
    border-radius: 25px;
}


.miniborder {
    border:  10px solid white;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
}

.fit {
    height: 100%;
    width: 100%;
}

footer {
    height: 50px;
    background-image: linear-gradient(to bottom right, lightblue, white);
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer {
    display: flex;
    align-items: center;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    margin: 0 35px;
}  

/* Websites */

#chelseafansite {
    background-image: url(https://syackzan.github.io/MP---Landing-Page-/);
}

.sizingchel {
    width: 100px;
}

/* Psuedo Classes */

img:hover {
    background-color: rgb(231, 225, 225);;
    opacity: .5;
}

.buttonclose:hover {
    background-color: lightblue;
}

a:hover {
    color: purple;
    font-weight: bold;
    font-size: 16px;
}
/* Buttons */

.buttonclose {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}

/* Button Actions */



/* Media Quearies */